body{ 
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #131313;
    color: #fff;
    font-size: 96px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
  }
  
  .error {
    text-shadow: 0 0 10px #219658;  
    animation: flicker 10s linear infinite;
    transition: 0.2s ease all; 
    color: #5c8063;
  }
  
  @keyframes flicker {
    0%, 4%, 5%, 7%, 20%, 21%{
      color: #131313;
      text-shadow: 0 0 5px #131313;  
    }
    0.1%, 4.1%, 5.1%, 10%, 20.1%{
      color: #459655;
      text-shadow: 0 0 10px #459655;  
    }
    50% {
      color: #459655;
      text-shadow: 0 0 15px #5c8063;  
    }
  }