#accordian h3 {
    margin-block-start: .2em;
    margin-block-end: .2em;
    border-right: 1px  solid #2c2c2c;
    transition: all .3s;
}

#accordian h3 a {
    font-size: 16px;
    display: block;
    color: #b6d7e0;
    text-decoration: none;
}

#accordian h3:hover {
    text-shadow: 0 0 1px #ffffffb3;
}

i {
    font-size: 1.3em !important;
    margin-left: .2em;
    margin-right: .2em;
    transition: all .5s;
}
.active>h3>a>i {
    transform:rotate(90deg);
}

#accordian li {
    list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {
    color: #b6d7e0;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    display: block;
    transition: all 0.3s;
    position: relative;
}

#accordian li a {
    transition: all .3s;
}
#accordian li a:hover {
    background: #7a888c;
    border-right: 10px solid lightgreen;
}

#accordian ul ul {
    display: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
/* #accordian .active>a {    
    border-right: 10px solid lightblue;
} */
#accordian .active>h3 {
    border-right: 10px solid lightblue;
}
#accordian li.active>ul {
    display: block;
}

#accordian ul ul ul {
    margin-left: .5em;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

/* #accordian h3:not(:only-child):after {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
}

#accordian .active>h3:not(:only-child):after {
    content: "\f107";
} */