:root {
  --main-color: #3e3d44;
  --bg-angle: -5deg;
  --bg-start: #252525;
  --bg-end: #353535;
  --text-color: #AAA;
  --shadow-up: #0C0C0C;
  --shadow-down: #4B4B4B;
  --disabled-color: #555;
  --enabled-color: #2b7a53;
}

body {
  background: #2c2c2c;
  font-family: 'Source Sans Pro', sans-serif;
}

.type {
  display: inline-block;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 1;
  font-size: 1em;
  color: #b6d7e0;
  text-shadow: 1px 2px 2px #222222;
  border-radius: .4em;
  margin: .3em;
  padding: .2em;
  padding-left: .6em;
  padding-right: .6em;
  background: #cc3300;
  box-shadow: 2px 2px 5px #1d1d1d;
}

.name, .doc {
  color: #b6d7e0;
  margin: .2em;
}

.name {
  color: #398396;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #398396;
}

.path {
  font-size: 1.2em;
  font-weight: 300;
  margin-left: .4em;
  text-shadow: 1px 1px 2px #555;
  background: #363636;
  color: #b6d7e0;
  border-radius: .4em;
  padding: .5em;
  margin: .2em;
  box-shadow: 2px 2px 7px rgb(29, 29, 32);
}

.get {
  background: #339900;
}

.post {
  background: #038da5;
}

.put {
  background: #b8aa2c;
}

.delete {
  background: #cc3300;
}

table {
  color: #b6d7e0;
  width: -webkit-fill-available;
  border-radius: .4em;
  border-style: hidden;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 2px 3px 4px 3px #222;
  margin: 0.5em;
}

th {
  border-bottom: 2px solid #111;
  background: #777;
  text-shadow: 1px 2px 2px #3a3535;
}

tr:nth-child(even) {
  background-color: rgb(75, 75, 75);
}

td {
  padding-left: 1em;
}

input {
  width: -webkit-fill-available;
  border-radius: .4em;
}

.button {
  width: 100%;
  height: 2em;
  color: #b6d7e0;
  background: var(--main-color);
  border-radius: .4em;
  justify-content: center;
  display: flex;
  box-shadow: 2px 2px 7px rgb(29, 29, 32);
  margin-top: 1em;
  margin-bottom: 1em;
}

.button:hover {
  box-shadow: -1px -1px 6px var(--shadow-down), 1px 1px 6px var(--shadow-up);
  background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
}

.button:active:hover {
  box-shadow: -2px -2px 6px var(--shadow-down) inset, 2px 2px 6px var(--shadow-up) inset;
}

.button>span {
  margin: auto;
}

.response {
  background: #394b40;
  border-radius: .4em;
  padding: .5em;
  margin: .2em;
  box-shadow: 2px 2px 7px rgb(29, 29, 32);
  color: #b6d7e0;
  display: none;
}

.response.active {
  display: block;
}

.response.error {
  background: #a83f25;
}

.tab {
  padding-right: 30px;
}