body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 1fr 2em;
  margin: -10px
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  padding: 20px;
  scroll-behavior: smooth;
}

.header {
  color: #b6d7e0;
  box-shadow: 7px 7px 7px #1d1e1f;
  line-height: 2.5;
  font-weight: bold;
  padding: .5em;
  padding-left: 2em;
  z-index: 4;
}

.sidebar {
  box-shadow: 4px 0px 7px #1d1e1f;
}

.footer {
  box-shadow: 4px -4px 7px #1d1e1f;
}