.group {
    position: relative;
    z-index: 1;
}

.group i {
    color: #666;
    position: absolute;
    top: .2em;
    right: .1em;
    font-size: 1.2em !important;
    transition: 0.5s ease all;
}

.group i:hover {
    color: #F42;
    font-size: 1.55em;
    transform: rotate(90deg);
}

input {
    z-index: 1;
    padding: 5px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: var(--back-color);
    caret-color: var(--text-color);
    color: var(--text-color);
    box-shadow: inset 1px 1px 4px var(--shadow-up), inset -1px -1px 4px var(--shadow-down);
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
    border-radius: .4em;
}

input:hover {
    box-shadow: inset 2px 2px 6px var(--shadow-up), inset -2px -2px 6px var(--shadow-down);
}

input:focus {
    outline: none;
    box-shadow: inset 3px 3px 8px var(--shadow-up), inset -3px -3px 8px var(--shadow-down);
}

input:hover:focus {
    outline: none;
    box-shadow: inset 4px 4px 10px var(--shadow-up), inset -4px -4px 10px var(--shadow-down);
}

/* LABEL ======================================= */

label {
    z-index: 1;
    color: #666;
    font-size: 1.2em;
    position: absolute;
    left: 1em;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label, input:valid~label {
    z-index: 1;
    top: -1.2em;
    font-size: 1em;
    color: var(--primary-neon);
}