<!doctype html>

<html lang="en">

<head>
    <title>404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>

<body>
    <div class="error">404 Page not found</div>
</body>

</html>