<!doctype html>

<html lang="en">

<head>
    <title>API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accordion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/apiTest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>
</head>

<body>
    <div class="container">  
        <div class="header">API Doc</div>
        <div class="body">
            <div class="sidebar">
                <div id="accordian">
                    <ul>
                        {% for c, x in doc.items() recursive %}
                            <li>
                                <h3><a href="#{{x['ref']}}"><i class="fa fa-angle-right"></i>{{c}}</a></h3>
                                <ul>
                                    {% for method, doc in x["methods"].items(): %}
                                        <li><h3><a href="#{{x['ref']}}{{method}}">{{method}}</a></h3></li>
                                    {% endfor %}
                                    {{ loop(x.sub_endpoints.items()) }}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content">
                {% for c, x in doc.items() recursive %}
                    {% if x["methods"]: %}
                        <div id="{{x['ref']}}" class="name">{{x['ref']}}</div>
                    {% endif %} 
                    {% for method, doc in x["methods"].items(): %}
                        <span id="{{x['ref']}}{{method}}" class="type {{method}}">{{method.upper()}}</span>
                        <div class="doc">{{doc.description}}</div>
                        <div class="path">{{doc["url"]}}</div>
                        {% if x.params: %}
                            <div class="path">curl -i -X {{method.upper()}} {{request.host_url}}{{c}}{% for param in x.params: %}/{{param.name}}:{{param.type}}{% endfor %}</div>
                        {% else %}
                            <div class="path">curl -i -X {{method.upper()}} {{request.host_url}}{{c}}</div> 
                        {% endif %}
                        {% if x.params: %}
                            <table> 
                                <thead>
                                    {% for k, v in x.params[0].items(): %}
                                        <th>{{k}}</th>   
                                    {% endfor %}  
                                    <th>value</th>   
                                </thead>
                                <tbody>
                                    {% for param in x.params: %}
                                    <tr>
                                        {% for k, v in param.items(): %}
                                            <td>{{v}}</td>   
                                        {% endfor %}                             
                                        <td>
                                            <div class="group">      
                                              <input id="{{c}}_{{method}}_{{param['name']}}_value" class="{{doc.url | replace('/', '') | replace('<', '') | replace('>', '')}}_{{method}}" name="{{param['name']}}" type="text" required>
                                              <i class="fa fa-times-circle"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}                   
                                </tbody>
                            </table>
                        {% endif %}
                        {% if doc.params: %}
                            <table> 
                                <thead>
                                    {% for k, v in doc.params[0].items(): %}
                                        <th>{{k}}</th>   
                                    {% endfor %}  
                                    <th>value</th>   
                                </thead>
                                <tbody>
                                    {% for param in doc.params: %}
                                    <tr>
                                        {% for k, v in param.items(): %}
                                            <td>{{v}}</td>   
                                        {% endfor %}                             
                                        <td>
                                            <div class="group">
                                                <input class="{{doc.url | replace('/', '') | replace('<', '') | replace('>', '')}}_{{method}}_body" name="{{param['name']}}"/> 
                                                <i class="fa fa-times-circle"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}                   
                                </tbody>
                            </table>
                        {% endif %}
                        <div>
                            <a class="button apiTest" type="{{method}}" url="{{doc.url}}" param="{{doc.url | replace('/', '') | replace('<', '') | replace('>', '')}}_{{method}}"><span>Execute</span></a>
                            <div class="response"></div>
                        </div>
                    {% endfor %}
                    {{ loop(x.sub_endpoints.items()) }} 
                {% endfor %}
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>